

<!--/Config demo-->
<!--Global JS-->

<footer th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <script src="/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.navgoco.min.js"></script>
    <script src="/js/pace.min.js"></script>
    <script src="/js/jquery.fullscreen-min.js"></script>
    <!--Page Level JS-->
    <script src="/js/jquery.countTo.js"></script>
    <script src="/js/skycons.js"></script>
    <!-- Vector Map  -->
    <script src="/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/js/app.js"></script>

    <script src="/js/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <!-- Switch -->
    <script src="/js/switchery.min.js"></script>
    <!--Load these page level functions-->


    <!--Page Leve JS -->
    <script src="/js/jquery.dataTables.js"></script>
    <script src="/js/dataTables.bootstrap.js"></script>
    <script>

    </script>

</footer>
