<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

    <header id="header">
        <!--logo start-->
        <div class="brand">
            <a href="index-2.html" class="logo">
                <i class="fa fa-bar-chart"></i>
                <span>MOVIE</span>CRACK</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown profile hidden-xs">
                <a href="/logout" id ="logout">

                            <span class="text" >Logout</span>
                </a>
            </li>

        </ul>
    </header>
    <!--sidebar left start-->

    <aside class="sidebar sidebar-left">
        <div class="sidebar-profile">

            <div class="profile-body dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><h4><span >Welcome</span> </h4></a>
                <small class="title" >User</small>

            </div>
        </div>
        <nav>
            <h5 class="sidebar-header">Navigation</h5>
            <ul class="nav nav-pills nav-stacked">
                <li class="">
                    <a href="/" title="Dashboard">
                         Dashboard
                    </a>
                </li>
                <li>
                    <a  href="/movie/favorite" title="Favorites">
                       Favorites
                    </a>
                </li>

            </ul>
        </nav>

    </aside>
    <!--sidebar left end-->

</div>
